<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Github Favourite Language</title>
  </head>
  <body>
    <h1>Favourite language</h1>
    <p>
      Use <a href="https://github.com">GitHub</a> to find a developers favourite language.
    </p>
    <form action="/favourite" method="get">
      <label>
        <span>Enter a Github username: </span>
        <input type="text" name="username">
        <button type="submit">Go!</button>
      </label>
    </form>
  </body>
</html>
