<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Github Favourite Language</title>
  </head>
  <body>
    <h1>Favourite language</h1>
    <ol>
      <% @occurances.each do |language, count| %>
      <li><%= count %>: <%= language %></li>
      <% end %>
    </ol>
    <hr>
    <a href="/">Back</a>
  </body>
</html>
